<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>enter to win two free ipod nanos</h1>
    <form action="/handle_form" method="POST">
        Email address: <input type="email" name="email_address"><br>
        Mailing address: <input type="text" name="mailing_address"><br>
        Date of birth: <input type="date" name="date_of_birth"><br>
        Name of my first pet: <input type="text" name="first_pet"><br>
        Mother's maiden name: <input type="text" name="maiden_name"><br>
        Social security number: <input type="number" name="social_number"><br>
        <input type="submit">
    </form>
</body>
</html>